<h1><i class="fas fa-project-diagram fa-lg"></i> Look what <strong><%= title %></strong> I have accomplished</h1>
<div class="container">
<div class="projectstable">
    <table class="table table-dark table-striped table-hover" id="table">
  <thead>
    <tr>
      <th scope="col"><h4>Project</h4></th>
      <th scope="col"><h4>Description</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><a href="https://github.com/tuhanren/Python-Web-Scraping-Practice.git"><img class="img-thumbnail" src="/Assets/images/project1.svg"></a></td>
        <td><h3>Python Web Scraping</h3>
            <p>•	Implemented 4 pages scraping with Selenium<br>
            •	Created BeautifulSoup framework to parse and extract movie information<br>
            •	Stored scraped data into csv/xlsx file using Python built-in function
            </p>
        </td>
    </tr>
    <tr>
        <td><img class="img-thumbnail" src="/Assets/images/project2.svg"></td>
        <td><h3>Marketing Campaign Analysis</h3>
            <p>•	Created fixed market campaign analysis report by using Python Pandas DataFrame<br>
             •	Loaded and merged data from multiple sources; Created summary statistics with Pandas<br>
             •	Detected and conducted missing value imputation on different variables using sklearn
            </p>
        </td>
    </tr>
    <tr>
      <td><a href="https://www.aidatatool.com/"><img class="img-thumbnail" src="/Assets/images/project3.svg"></a></td>
      <td><h3>SAS2Python</h3>
          <p>•	Facilitated web design, including web framework, UI/UX, SEO, and web logo<br>
            •	Conducted data validation for 150 tables, performed function mapping and code mapping between two programming languages (SQL and Python) for comparison by using Python and MS Excel<br>
            •	Contributed to the key contents of the website by scripting SQL codes with MySQL for more than 80 application contents and functions<br>
            •	Supported programming estimates, identified potential problems, and recommended alternative solutions to ensure the web development project finish on time
          </p>  
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
<span class="type" id="extraspan"></span> 